img {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px; /* Rounded border */
  padding: 5px; /* Some padding */
  width: 150px; /* Set a small width */
}

body {
  background-color: antiquewhite;
}

#single-display {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  background-color: antiquewhite;
  padding: 25px 30px;
}

#capsule {
  display: grid;
  grid-template-columns: 2fr 8fr;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f3de97f5;
}

li {
  float: left;
}

li a {
  display: block;
  color: #4e6172;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #a3adb8;
}

#container {
  background-color: rgb(231, 214, 182);
}

.plantDiv {
  border: 5px solid #a3adb8;
  padding: 14px 16px;
}

.pollinatorDiv {
  border: 5px solid #a3adb8;
  padding: 14px 16px;
}
.pollinator-card {
  border-right: 2px solid #a3adb8;
  padding: 14px 16px;
}

.plant-card {
  border-right: 2px solid #a3adb8;
  padding: 14px 16px;
}
