img {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px; /* Rounded border */
  padding: 5px; /* Some padding */
  width: 150px; /* Set a small width */
}

body {
  background-color: antiquewhite;
  background-image: url(https://i.pinimg.com/originals/a6/0e/69/a60e69880092945e7467e38a4ccaa17b.jpg);
}

#single-display {
  
  position: fixed;
  top: 35%;
  left: 50%;
  right: 15%;
  margin-top: -50px;
  margin-left: -100px;
  background-color: rgb(250, 235, 215);
  padding: 25px 30px;
}

#capsule {
  display: grid;
  grid-template-columns: 2fr 8fr;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f3de97f5;
  border-bottom: 3px solid #a3adb8;
}

li {
  float: left;
}

li a {
  display: block;
  color: #4e6172;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #a3adb8;
}

#container {
  background-color: rgb(231, 214, 182);
}

.plantDiv {
  border: 5px solid #a3adb8;
  padding: 14px 16px;
}

.pollinatorDiv {
  border: 5px solid #a3adb8;
  padding: 14px 16px;
}
.pollinator-card {
  border-right: 3px solid #a3adb8;
  padding: 14px 16px;
}

.plant-card {
  border-right: 2px solid #a3adb8;
  padding: 14px 16px;
}

#newPlantForm {
  position: relative;
  top: 0px;
  border: 5px solid #a3adb8;
  padding: 25px 25px;
  

}

#h1 {
  font-style: oblique 50deg;
  font-display: block ;
  padding: 20px;
  border: 5px solid #a3adb8;
 
}

#editPlant {
  padding: 20px;
  border: 5px solid #a3adb8;
}

#editPollinator {
  padding: 20px;
  border: 5px solid #a3adb8;
}
